<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>OpenMap</string>
	<key>CFBundleVersion</key>
	<string>@version@</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>false</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>OpenMap @version@, Copyright (C) BBN Technologies LLC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>OpenMap.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>VMOptions</key>
		<string>-Xmx768m</string>
		<key>MainClass</key>
		<string>com.bbn.openmap.app.Main</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<array>
			<string>$APP_PACKAGE/Contents/Resources</string>
			<string>$JAVAROOT/openmap.jar</string>
			<string>$JAVAROOT/omcorba.jar</string>
			<string>$JAVAROOT/omsvg.jar</string>
			<string>$JAVAROOT/omj3d.jar</string>
			<string>$JAVAROOT/milStd2525_png.jar</string>
			<string>$APP_PACKAGE/Contents/Resources/share</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
